# dependencies
node_modules/
client/node_modules/
server/node_modules/

# environment files
.env
.env.*

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
